

<%= form_for @recipe, :html => {class: 'new_user form-horizontal'} do |f| %>
  <div class="row"><legend class="col-md-4 col-md-offset-4">Update Recipe:</legend></div>

  <fieldset>
      <div class="form-group">
        <%= f.label :title, 'Name:', class:'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :title, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :ingredients, 'Ingredients:', class:'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_area :ingredients, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :instructions, 'Directions:', class:'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_area :instructions, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :difficulty_level, 'Difficulty Level:', class:'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :difficulty_level, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :time, 'Time:', class:'col-md-4 control-label' %>
        <div class="col-md-5">
            <%= f.text_field :time, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-8 col-md-offset-4">
          <%= f.submit 'Update Recipe', class: 'btn btn-success' %>
        </div>
      </div>
  </fieldset>
  <%end %>
