<% if logged_in? %>
<div class="row">
<div class="col-md-4 col-offset-md-6" style="float: right;">
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
  <%= form_tag(recipes_path, :method => 'get', id:"search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by Tags" %>
  <%= submit_tag "Search", :name =>nil %>
  <%end %>
  </div>
</form>
</div>
</div>
<legend class="col-md-12">Discover Recipes</legend>
    <% @recipes.each_slice(3) do |row| %>
        <div class="row">
        <% row.each do |l| %>
        <div class="col-md-12 box">
        <h4><%=link_to l.title, recipe_path(l.id)  %></h4>
          <p> <%= l.instructions %> </p>
        <h5> <%=l.user.name%>  </h5>
        <div class="tags"><%= l.tag_list %></div>
        </div>
    <%end %>
    </div>
    <% end %>
<%else %>
      <div class="about-bg">
      <div class="jumbotron">
          <h1>The Secret Ingredient </h1>
            <p>
              For those of you who are new, welcome! Think of this website as an online cookbook where you can post your favorite recipes and discover new recipes by following friends!
            </p>
          <%=link_to "Sign In", new_session_path,class: 'btn btn-success btn-lg'  %>
          <%=link_to "Create Account", new_user_path,class: 'btn btn-primary btn-lg'  %>
      </div>
      </div>
<%end %>
