<h1> <%= @recipe.title%> </h1>
| <%= link_to 'Return to Profile', user_path(@recipe.user) %> |

<% if @recipe.user == current_user %>
<%= link_to 'Edit', edit_recipe_path(@recipe)  %> |
<%= link_to 'Delete', recipe_path(@recipe), method: 'DELETE' %> |


<%end %>


<h2>Ingredients</h2>
<p>
  <%= @recipe.ingredients %>
</p>

<h2>Instructions</h2>

<p>
  <%= @recipe.instructions %>
</p>

<h2>Difficulty Level & Expected Time</h2>

<p>
  <%= @recipe.difficulty_level %> : <%= @recipe.time %>
</p>


<h3>Comments:</h3>
<%= render 'comments/comment' %>
