<h3><%= @user.name %> is following: </h3>
<ul>
<% if @user.following.count == 0 %>
  <%= @user.name %> is not following anyone.
<%else %>
<%@user.following.each do |n| %>
<li><strong><%= link_to n.name, user_path(n.id) %></strong>:
  <% if n.recipes.count < 2 %>
    <%= n.recipes.count %> Recipe</li>
    <% elsif n.recipes.count == 0 || n.recipes.count > 1%>
      <%= n.recipes.count %> Recipes</li>
    <%end %>
<%end %>
</ul>
<%end %>
