<% if @user == current_user %>
<h3>My Profile</h3>
<%= link_to 'Edit User', edit_user_path, class: 'btn btn-primary' %>
<%= link_to 'Add Recipe', new_recipe_path, class: 'btn btn-success'  %>
<%else %>
<h3><%= @user.user_name %></h3>

  <%if current_user_is_following(current_user.id, @user.id) %>
    <button id='unfollow-button'><%= link_to 'Following', unfollow_user_path, method: :post%></button>
  <%else %>
    <button id='follow-button'><%= link_to 'Follow', follow_user_path, method: :post%></button>
  <%end %>
  <%end %>
  <%= link_to 'Followers:', follower_path %>  


<%= @user.followers.count %> |

<%= link_to 'Following:', following_path %>

<%= @user.following.count %> |

Recipes:

<%= @user.recipes.count %>

<%if current_user_is_following(current_user.id, @user.id) || @user == current_user %>

<h3>My Recipes:</h3>
<ul>


<% @user.recipes.each do |p| %>
  <li><%= link_to p.title, recipe_path(p) %>


  </li>

<%end %>
</ul>

<%else %>
  <h3>Follow <%= @user.user_name %> to see recipes!</h3>
<%end %>
